.venv/*
.vscode/*
*.pptx
*.pdf
*.xlsx
*.csv
*.txt
Archives/*
ISCG/*
Intro/*
LSTM_artifacts/*
Proposal/*
Screenshots/*
data-scripts/.idea/*
data-scripts/.vscode/*
data-scripts/__pycache__/*
data-scripts/data.bat
maps-master/README.md
misc scripts - not used/Capital_markets_indices.py
misc scripts - not used/geckodriver.log

!Data_summary.xlsx
!Predictions.xlsx